h1 {
  color: rgb(0, 4, 8);
  font-family: 'BraunLinear-Regular', Times, serif;
  font-size: 70px;
}

h2 {
  color: rgb(4, 4, 51);
  font-family: 'BraunLinear-Regular', Times, serif;
  font-size: 40px;
}

h3 {
  color: rgb(4, 4, 51);
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 40px;
}

body {
  background-color: #cab3c7b9;
  text-align: left;
  color: rgb(4, 4, 51);
    margin: 50px;
    width: 600px;
    padding: 50px;
    font-size: 30px;
    @font-face {
      font-family: "BraunLinear-Regular";
      src= "assets/BraunLinear-Regular.otf";

}
.link {
  color: #898080;
}

.link:hover {
  color: #00FF00;
}