h1 {
  color: rgb(0, 4, 8);
  @font-face {
    font-family: "BruanLinear-Regular";
    src: "assets/BraunLinear-Regular.ttf";
  font-size: 60px;
}

h2 {
  color: rgb(4, 4, 51);
  @font-face {
    font-family: "BruanLinear-Regular";
    src: "assets/BraunLinear-Regular.ttf";
  font-size: 40px;
}

h3 {
  color: rgb(4, 4, 51);
  @font-face {
    font-family: "BruanLinear-Regular";
    src: "assets/BraunLinear-Regular.ttf";
  font-size: 40px;
}

body {
  background-color: #fdfdfde4;
  text-align: center;
}

body {
    margin: auto;
    width: 600px;
    padding: 40px;
    @font-face {
      font-family: "BruanLinear-Regular";
      src: "assets/BraunLinear-Regular.ttf";
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #efe9d3e4;
  width: 100%;
}