h1 {
  color: rgb(0, 4, 8);
  @font-face {
    font-family: "Bruan Linear-Regular";
    src: "assets/BraunLinear-Regular.ttf";
  font-size: 60px;
}

h2 {
  color: rgb(4, 4, 51);
  @font-face {
    font-family: "Bruan Linear-Regular";
    src: "assets/BraunLinear-Regular.ttf";
  font-size: x-large;
}

h3 {
  color: rgb(4, 4, 51);
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: x-large;
}

body {
  background-color: #fdfdfde4;
  text-align: center;
}

  body {
    margin: auto;
    width: 600px;
    padding: 40px;
    @font-face {
      font-family: "Bruan Linear-Regular";
      src: "assets/BraunLinear-Regular.ttf";
  }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #efe9d3e4;
  width: 100%;
}
